<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>UI Package - Documentation</title>
    <link rel="stylesheet" href="/public/css/ui-package.css" />
    <link rel="stylesheet" href="/documentation/css/font-awesome.css" />
    <style>
      html, body {
        height: 100%;
        font-family: sans-serif;
      }

      .component {
        border: 1px solid #dfdfdf;
        padding: 10px;
        border-radius: 3px;
        margin-bottom: 10px;
      }

      .component h1 {
        margin: 0;
        font-size: 20px;
        color: #404040;
      }

      .component h2 {
        margin-top: 0;
        font-size: 14px;
        font-weight: normal;
        color: #404040;
      }
    </style>
  </head>
  <body>

    <%- include('components/ui-button.ejs') %>

    <script src="/public/js/ui-package.js"></script>
  </body>
</html>